<!--
  Generated template for the ChatboxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>{{ chatBoxTitle }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="chatContent backImg" scrollDownOnLoad> 

    <ion-grid text-right no-margin no-padding>
      <ion-row *ngFor="let msg of msgs" justify-content-start align-items-center [ngClass]="{'me' : msg.by_sup == user_id,  'others' : msg.by_sup != user_id}">
        <ion-col col-1 *ngIf="msg.hasOwnProperty('send') && !msg.send" align-self-center>
            <ion-icon name="information-circle" [color]="msg.re_try?'danger':'gray'"></ion-icon> 
        </ion-col>
        <ion-col col-10 align-self-end>
            <!-- <span *ngIf="msg.by_sup == user_id && msg.msg.length <= 10">{{ msg.time  }}</span> -->
            <ion-card end class="textChat text">
              
              <ion-card-content>
                  <p *ngIf="msg.by_sup != user_id && team_id != 0" class="person">
                     {{ others[msg.by_sup] }}
                  </p>
                    <p>
                        <span [innerHTML]="msg.msg | msgfilter"></span> 
                        <span class="time" padding-left dir="rtl">({{ msg.time+ ' '+msg.daylight  }})</span>
                    </p>
                    
              </ion-card-content>
            </ion-card>
            <!-- <span *ngIf="msg.by_sup != user_id || msg.msg.length > 10">{{ msg.time  }}</span> -->
        </ion-col>
      </ion-row>
    </ion-grid>

    <br/>
    <br/>
    <br/>
  
  <!--
  <div *ngFor="let message of messages" class="chatBlock">
    <ion-icon start *ngIf="!message.send" name="send" color="danger" class="statusIcon"></ion-icon>  
    <ion-card end class="textChat" [ngClass]="{'me' : message.id == 0,  'others' : message.id == 1}" item-end>
      <ion-card-content>
            {{ message.text  }}
        </ion-card-content>
    </ion-card>
  </div>
-->
    
</ion-content>

<ion-footer no-border>
  <ion-toolbar class="backImg" no-border>
    <ion-input class="msg" id="msg" clearInput #input [(ngModel)]="msg" style="background: white;border-radius: 15px;" type="text" placeholder="النص هنا " text-right end></ion-input>
    <ion-buttons start>
      <button ion-button icon-only round class="send_btn" (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
