page-sup-degree {

    .input-degree{
        background-color: #eee;
    }

    .submitForAll{
        border-bottom: 1px solid #1095D3;
    }

    .stds_list{
        border-bottom: 1px solid #999;
    }

}
